*{margin: 0;
padding: 0;
color: rgb(250, 31, 31);
}
body{
    background-image: url("pexels-cottonbro-6804613.jpg");
    background-size: cover;
}
.container{
  margin: 130px 20px 60px 225px;
  height: 80px;
    width: 800px; 
}
h1{
    align-items: center;
    font-size: 40px;
    text-align: center;
}
